*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background: #FAFAFA;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
.container {
  max-width: 1230px;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 0;
}
/* =========================================================================================================
                                        Section Cloud Bugdet
========================================================================================================= */
.cloud-bugdet * {
  z-index: 999;
  position: relative;
}
.cloud-bugdet {
  background-image: url(../img/bg-CloudBudget.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 59px;
}
.cloud-bugdet::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
}
.cloud-bugdet__inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo__title {
  margin-left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__btn {
  width: 35px;
  height: 24px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  display: none;
  border: none;
  border-top: 2px solid #fefefe;
  border-bottom: 2px solid #fefefe;
  background-color: transparent;
  position: relative;
  outline: none;
}
.menu__btn::before{
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #fefefe;
  left: 0;
  top: 9px;
}
.menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  letter-spacing: 3px;
}
.menu__list-item {
  margin-left: 18px;
}
.menu__select--language {
  display: flex;
  text-transform: uppercase;
  color: #fff;
}
.language__eng {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.language__eng-logo {
  width: 32px;
  height: 32px;
  margin-top: -5px;
  margin-right: 13px;
}
.language__eng--title {
  margin-right: 13px;
}
.menu__select--arrow {
  margin-top: 5px;
  margin-right: 13px;
}
.btn-login__link {
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 12px 28px;
}
.cloud-budget__header {
  padding-top: 200px;
}
.cloud-budget__title {
  text-transform: uppercase;
  font-size: 72px;
  color: #fff;
  margin: 0 auto;
  letter-spacing: 0.05em;
}
.cloud-budget__text {
  padding: 39px 10px;
  font-size: 24px;
  line-height: 150%;
  width: 540px;
  letter-spacing: 2px;
  margin: 0 auto;
  color: #fff;
}
.btn-singup {
  background: #ffffff;
  padding: 16px 53px;
  border-radius: 6px;
  text-transform: uppercase;
  color: #ed4c5c;
  display: inline-block;
}
/* =========================================================================================================
                                        Management
========================================================================================================= */
.management {
  padding: 94px 0 94px 0;
}
.management__inner {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.management__header {
  width: 445px;
}
.management__title {
  font-size: 36px;
  margin-bottom: 28px;
}
.management__text {
  font-weight: normal;
  line-height: 140%;
}
.management__text--link {
  color: #ed4c5c;
  display: block;
  margin-top: 20px;
}
.management__video {
  display: flex;
  align-items: center;
  position: relative;
}
.play-video__btn {
  position: absolute;
  z-index: 1;
  left: -30px;
}
/* =========================================================================================================
                                        Features
========================================================================================================= */
.features {
  padding: 80px 0 124px 0;
}
.features__main--title,
.technology__main--title{
    font-size: 36px;
    margin-bottom: 60px;
}
.features__inner {
  display: flex;
  justify-content: center;
}
.features__support--card,
.features__expenses,
.features__management-software{
    position: relative;
}
.features__img{
  margin-left: 50px;
}
.features__img--box{
    width: 293px;
    background: #fff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 33px 32px 25px 33px;
    position: absolute;
    bottom: -100px;
    left: 20%;
}
.box__title{
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: bold;
}
.features__link{
    color: #ED4C5C;
    display: block;
    margin-top: 20px;
}
/* =========================================================================================================
                                        Technology
========================================================================================================= */
.technology{
    padding: 63px 0 108px 0;
}
.technology__types{
    display: flex;
    margin: 0;
    padding: 0;
}
.types__left,
.types__right{
  display: flex;
  margin: 0 auto;
}
.types__item{
    width: 300px;
}
.types__number{
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
}
.types__logo{
  margin-top: -24%;
}
.csv__logo{
  position: relative;
  top: -8px;
}
.types__item--title{
    font-size: 18px;
    color: #101010;
    margin: auto;
}
.types__item--text{
    width: 193px;
    margin: auto;
}

/* =========================================================================================================
                                        Saving money
========================================================================================================= */
.saving-money{
    background: #ED4C5C;
    padding: 94px 95px;
}
.saving-money__inner{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.saving-money__header{
    width: 445px;
    margin-left: 30px;
}
.saving-money__title{
    font-size: 36px;
    padding-top: 28px;
    color: #fff;
    margin: 0 0 24px 0;
}
.saving-money__text{
    color: #fff;
    font-weight: normal;
}
.saving-money__social--icons{
    display: flex;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 44px;
}
.icon--appstore,
.icon--windows{
    margin-left: 28px;
    width: 32px;
    height: 32px;
}
.saving-money__video{
    display: flex;
    position: relative;
}
.video__main-bg{
    z-index: 2;
}
.video__second-bg{
    position: absolute;
    top: 24px;
    left: -40px;
    z-index: 1;
}
.video__third-bg{
    position: absolute;
    top: 24px;
    right: -40px;
    z-index: 1;
}
/* =========================================================================================================
                                        Contact
========================================================================================================= */
.contact{
    padding: 100px 50px 78px 50px;
}
.contacts__inner{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.contact__header{
  width: 445px;
}
.contact__title{
  font-size: 36px;
  margin: 0 0 20px 0;
}
.contact__form{
  justify-content: end;
  margin-left: 60px;
}
.name{
  width: 255px;
  height: 60px;
  padding: 20px 28px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-bottom: 20px;
}
.last-name{
  margin-left: 30px;
}
.phone-number{
  display: block;
  width: 100%;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 20px 28px;
  margin-bottom: 20px;
}
.contact__service{
  display: block;
  width: 100%;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 20px 28px;
  margin-bottom: 20px;
}
.contact__btn{
  width: 160px;
  height: 50px;
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  border-radius: 6px;
  padding: 17px 34px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}
.footer{
  padding: 86px 0;
  font-size: 12px;
  background: #FAFAFA;
}
.footer__menu{
  margin-bottom: 86px;
}
.footer__menu--list{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.footer__menu--item{
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  text-align: left;
  width: 254px;
  line-height: 2;
}
.footer__menu--link{
  font-size: 18px;
  color: #101010;
  font-weight: bold;
  display: block;
  margin-bottom: 28px;
}
.footer__types{
  text-transform: capitalize;
  color: #101010;
}
.footer__email{
  color: #101010;
}
.footer__phone{
  color: #101010;
}
.footer__support--cards{
  width: 100%;
}
.footer__copy{
  font-size: 12px;
  text-align: left;
  padding-left: 40px;
}

@media (max-width: 1150px) {
  .features__img{
    width: 300px;
    margin-left: 30px;
  }
  .features__img--box{
    width: 260px;
    left: 16%;
  }
  .types__item{
    width: 255px;
  }
  .saving-money{
    padding-left: 30px;
    padding-right: 30px;
  }
  .video__main-bg{
    width: 400px;
  }
  .video__second-bg,
  .video__third-bg{
    width: 320px;
  }
  .name{
    width: 100%;
  }
  .last-name{
    margin-left: 0;
  }
  .footer__menu--item{
    width: 200px;
  }
}
@media (max-width: 1105px){
  .menu__list{
    letter-spacing: 1px;
  }
  .menu__list-item{
    margin-left: 10px;
  }
  .language__eng{
    margin-left: 10px;
  }
  .language__eng-logo{
    margin-right: 5px;
  }
  .language__eng--title{
    margin-right: 6px;
  }
}
@media(max-width: 1060px){
  .types__left,
  .types__right{
    width: 450px;
  }
  .saving-money__text{
    width: 300px;
  }
  .saving-money__title{
    width: 300px;
    font-size: 26px;
  }
}
@media(max-width: 1020px){
  .management__header{
    width: 300px;
  }
  .management__title{
    font-size: 26px;
  }
  .features__inner{
    display: block;
  }
  .features__img{
    margin: 0 0 150px;
    width: 70%;
  }
  .features__img--box{
    width: 60%;
    bottom: 20px;
    left: 20%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .box__title{
    font-size: 40px;
  }
  .box__text,
  .features__link{
    font-size: 26px;
  }
  
}
@media (max-width: 936px){
  .cloud-budget__text{
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .btn-login{
    margin-top: 20px;
  }
  .menu{
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: linear-gradient(
    90deg,
    rgba(220, 32, 71, 0.8) 0%,
    rgba(250, 61, 27, 0.8) 100%
  );
  }
  .menu__list{
   display: block;
   letter-spacing: 3px;
  }
  .menu__list-item{
    padding: 5px 0;
    margin: 0;
  }
  .menu__select--language{
    margin: 10px 0;
  }
  .language__eng{
  margin-left: 46%;
  }
  .menu__btn{
    display: block;
  }
  .technology__types{
    display: block;
  }
  .video__main-bg{
    width: 300px;
    height: 220px;
  }
  .video__second-bg,
  .video__third-bg{
    width: 250px;
  }
}
@media(max-width: 860px){
  .management__inner{
    flex-direction: column;
  }
  .management__header{
    width: 445px;
    margin: 0 auto 20px;
  }
  .management__video{
    margin: 0 auto;
  }
  .box__title{
    font-size: 26px;
  }
  .box__text{
    font-size: 18px;
  }
  .technology__types{
    display: block;
  }
  .saving-money__inner{
    display: block;
  }
  .saving-money__header{
    margin: 0 auto;
  }
  .saving-money__title{
    font-size: 36px;
    width: 445px;
  }
  .saving-money__text{
    width: 445px;
  }
  .saving-money__video{
    margin: 50px auto 0;
    width: 445px;
  }
  .video__main-bg{
    width: 445px;
    height: 311px;
  }
  .video__second-bg,
  .video__third-bg{
    width: 383px;
    height: 267px;
  }
  .video__third-bg{
    left: 110px;
  }
  .footer__menu--item{
    width: 150px;
  }
  .facebook,
  .linkedin{
    margin-right: 17px;
  }
}
@media(max-width: 760px){
  .contact__form{
    margin-left: 18px;
  }
  .footer__menu--item{
    width: 100px;
  }
  .fo
}
@media(max-width: 670px){
  .features__img--box{
    padding-left: 20px;
    padding-right: 20px;
  }
  .box__title{
    font-size: 26px;
  }
  .box__text,
  .features__link{
    font-size: 14px;
  }
  .contacts__inner{
    display: block;
  }
  .contact__header{
    margin-bottom: 50px;
    width: 400px;
  }
  .contact__form{
    margin-left: 0;
  }
}
@media (max-width: 618px){
  .cloud-budget__title{
    font-size: 50px;
  }
  .cloud-budget__text{
    font-size: 18px;
    width: 420px;
  }
  .video__main-bg{
    width: 350px;
    height: 260px;
  }
  .video__second-bg,
  .video__third-bg{
    width: 300px;
    height: 200px;
    }
    .footer__menu--list{
      display: block;
    }
    .footer__menu--item{
      width: 100%;
    }
    .footer__menu--link{
      margin: 0;
    }
    .footer__support--cards{
      width: 50%;
    }
}
@media(max-width: 532px){
  .management__header{
    width: 300px;
  }
  .management__video--img{
    width: 355px;
    height: 250px;
  }
  .features__img{
    margin-bottom: 80px;
  }
  .box__title{
    font-size: 16px;
  }
  .box__text,
  .features__link{
    font-size: 12px;
  }
  .features__img--box{
    padding: 20px 10px;
    bottom: 15px;
  }
  .saving-money__header{
    width: 300px;
  }

  .saving-money__title,
  .saving-money__text{
    width: 100%;
  }
  .saving-money__video{
    width: 400px;
  }
  .video__second-bg{
    left: -30px;
  }
  .video__third-bg{
    left: 80px;
  }
}
@media(max-width: 490px){
  .types__left,
  .types__right{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .types__item{
    width: 100%;
  }
}
@media(max-width: 470px){
  .cloud-budget__title{
    font-size: 30px;
  }
  .cloud-budget__text{
    font-size: 14px;
    padding-bottom: 50px;
    width: 250px;
  }
  .play-video__btn{
    margin-left: 50%;
  }
  .video__btn--img{
    width: 50px;
    height: 50px;
  }
  .management__video--img{
    width: 100%;
    height: 230px;
  }
  .management__title{
    font-size: 26px;
  }
  .management__header{
    width: 250px;
  }
  .box__title{
    margin-bottom: 10px;
    font-size: 12px;
  }
  .box__text{
    font-size: 8px;
  }
  .features__link{
    margin-top: 10px;
  }
  .saving-money__video{
    width: 300px;
    margin: 50px 0 0;
  }
  .video__main-bg{
    width: 100%;
  }
  .video__second-bg,
  .video__third-bg{
    display: none;
  }
  .contact{
    padding-left: 16px;
    padding-right: 16px;
  }
  .contact__header,
  .contact__form{
    width: 300px;
  }
}
@media (max-width: 400px) {
  .saving-money{
    padding: 30px 10px;
  }
  .saving-money__header{
    width: 250px;
    margin: 0 auto;
  }
  .saving-money__video{
    width: 250px;
    margin: 50px auto 0;
  }
  .video__main-bg{
    width: 250px;
    height: 180px;
  }
  .contact__header,
  .contact__form{
    width: 220px;
  }
  .footer__support--cards{
    width: 100%;
  }
}